{% extends 'base.html.twig' %}

{% block title %}Actividades cognitivas{% endblock %}

{% block content %}
<h2>Actividades para estimular la memoria</h2>

<ul>
    <li><a href="#">Rompecabezas interactivo</a></li>
    <li><a href="#">Juego de memoria</a></li>
    <li><a href="#">Sopa de letras</a></li>
</ul>
{% endblock %}
