{% extends 'base.html.twig' %}

{% block title %}Foro de familiares{% endblock %}

{% block content %}
<h2>Foro para familiares</h2>
<p>Comparte experiencias, dudas y apoyo emocional.</p>

<a href="https://www.alz.org/espanol" target="_blank">Ir al foro externo</a>
{% endblock %}
