{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2>Bienvenido</h2>
<p>Información clara y accesible sobre el Alzheimer, actividades cognitivas, test orientativos y un espacio para familiares.</p>
{% endblock %}
