{% extends 'base.html.twig' %}

{% block title %}Test orientativo{% endblock %}

{% block content %}
<h2>Test orientativo de memoria</h2>
<h3>Evaluación de CI</h3>
<p>Este test NO sustituye una evaluación médica profesional.</p>
<p>Recibirás 10 preguntas de tu vida diaria, selecciona la respuesta correcta entre las opciones.</p>
<p>Instrucciones de evaluación:</p>
<button>Comencemos</button><br><br>

{#Memoriza esta 3 palabra: casa, silla y carro.
como se encuentra tu memoria
Sabes que día es hoy
Cuanto es 87-9
cuanto es 
Todavia es capa de tomar decisiones
Tiene una vida activa fuera de casa
Como se encuentran sus habilidades fuera de casa
Puedes escribir una de las tres palabras que te mostre al principio
Como es su higiene profesional
Su comportamiento esta cambiando
Logra comunicarse bien
Como se encuentra de humor
Logra concentrarse y prestar atención#}


<button>Hombre</button>
<button>Mujer</button>
<form method="post">
    <label>¿Olvidas citas o eventos importantes?</label><br>
    <input type="radio" name="p1" value="si"> Sí
    <input type="radio" name="p1" value="no"> No
    <br><br>

    <label>¿Tienes dificultad para encontrar palabras comunes?</label><br>
    <input type="radio" name="p2" value="si"> Sí
    <input type="radio" name="p2" value="no"> No
    <br><br>

    <button type="submit">Enviar</button>
</form>
{% endblock %}
